/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ffdded, #c0d2e7);
    margin: 0;
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.29)
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background-color: #565555;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #cdcbcb;

}

button.equal {
    background-color: #2363a3;
    grid-column: span 2;
}

button.equal:hover {
    background-color: #96c6f5;
}
